<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
    <connectionManagement>
      <add address="*" maxconnection="100"/>
    </connectionManagement>
  </system.net>

  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           debug="false">
    
    <appender name="trace"
          type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern"
             value="%date{yyyy-MM-dd HH:mm:ss,fff} %-7level %-14logger %thread %class.%method - %message %newline" />
      </layout>
    </appender>

    <appender name="console"
          type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern"
             value="%date{yyyy-MM-dd HH:mm:ss,fff} %-7level %-14logger %thread %class.%method - %message %newline" />
      </layout>
    </appender>

    <!--<appender name="rollingFile"
          type="log4net.Appender.RollingFileAppender,log4net" >

      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="false" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <param name="StaticLogFileName" value="true" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern"
          value="%date{yyyy-MM-dd HH:mm:ss,fff} %-7level %-14logger %thread %class.%method - %message %newline" />
      </layout>
    </appender>-->

    <root>
      <priority value="DEBUG" />
      <appender-ref ref="console" />
    </root>

    <logger name="NHibernate">
      <level value="DEBUG" />
    </logger>

    <logger name="NHibernate.SQL">
      <level value="DEBUG" />
    </logger>

    <logger name="ConLimits">
      <level value="OFF" />
    </logger>

    <logger name="Cancellation">
      <level value="OFF" />
    </logger>
    
    <logger name="Settings">
      <level value="DEBUG" />
    </logger>
    
    <logger name="MangaCrawler">
      <level value="DEBUG" />
    </logger>
    
    <logger name="GUI">
      <level value="DEBUG" />
    </logger>

    <logger name="NH">
      <level value="DEBUG" />
    </logger>


  </log4net>


</configuration>
