<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>

    <target name="console" xsi:type="Console"
         layout="${logger} @ ${date:format=HH\:mm\:ss} ${level} ${message}"/>

    <target name="consoleConcurrent" xsi:type="Console"
         layout="${logger} @ ${date:format=HH\:mm\:ss} ${level} @ ${threadid} @ ${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true} @ ${message}"/>

    <target name="richTextBox" xsi:type="RichTextBox" controlName="LogRichTextBox" formName="MangaCrawlerForm"
            useDefaultRowColoringRules="true" autoScroll="true" maxLines="200"
            layout="${logger} @ ${date:format=HH\:mm\:ss} ${level} ${message}"/>

    <target name="richTextBoxConcurrent" xsi:type="RichTextBox" controlName="LogRichTextBox" formName="MangaCrawlerForm"
            useDefaultRowColoringRules="true" autoScroll="true" maxLines="200"
            layout="${logger} @ ${date:format=HH\:mm\:ss} ${level} @ ${threadid} @ ${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true} @ ${message}"/>

  </targets>

  <rules>
    <logger name="ConLimits" minlevel="OFf" writeTo="consoleConcurrent,richTextBoxConcurrent" />
    <logger name="Cancellation" minlevel="Off" writeTo="consoleConcurrent,richTextBoxConcurrent" />
    <logger name="Settings" minlevel="Trace" writeTo="consoleConcurrent,richTextBoxConcurrent" />
    <logger name="NHibernate" minlevel="Trace" writeTo="consoleConcurrent,richTextBoxConcurrent" />
    <logger name="MangaCrawler" minlevel="Trace" writeTo="consoleConcurrent,richTextBoxConcurrent" />
    <logger name="GUI" minlevel="Trace" writeTo="consoleConcurrent,richTextBoxConcurrent" />
  </rules>

</nlog>